
$main-font:'Gilroy-ExtraBold';
$secondary-font:'Gilroy-Light';
$text-color: #131926;
$hover: #C12023;
$active: #DF2528;
$white: #fff;
$grey: #B7B8BC;
$info-background:#F0F0F0;
$background:#FAFAFA;

.contacts-header__item {
    display: flex;
    align-items: center;    
    gap: 0 38px;
}
.title--contacts{
    font-size: 160px;
    @media (max-width:1180px) {
        font-size: 150px;
    }
   @media (max-width:992px) {
        font-size: 100px;
    }
   @media (max-width:768px) {
    font-size: 75px;
    }
    @media (max-width:560px) {
    font-size: 53px;
    }
}
.contacts{
    background-image: url(../images/contacts-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    color: $background;
    background-color: $text-color;
    font-size: 30px;
    padding-top: 73px;
    padding-bottom: 84px;

    @media (max-width:1180px) {
        background-image: none;
    }
    @media (max-width:768px) {
        text-align: center;
        padding: 40px 0;
    }
}
.contacts__title{
    margin-bottom: 72px;
    font-size: 50px;

    @media (max-width:1180px) {
        max-width: 713px;
    }
    @media (max-width:768px) {
        font-size: 37px;
        margin-bottom: 50px;
    }
    @media (max-width:560px) {
        font-size: 25px;
        margin-bottom: 46px;
    }
}
.contacts__title span{
    color: $active;
}
.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 34px 20px; 
    margin-bottom: 55px;


    @media (max-width:768px) {
    text-align: center;
    }
    @media (max-width:560px) {
        font-size: 20px;
        max-width: 300px;
        margin: 0 auto 55px auto;
    }
}
.contacts__list-item {
}
.contacts__phone {
    @media (max-width:992px) {
        max-width: 470px;
    }
    @media (max-width:768px) {
      max-width: 450px;
      margin: 0 auto;
    }
}
.contacts__link {
}
.contacts__btn {
    padding: 22px 35px;
    background-color: $active;
    font-size: 18px;
    border-radius: 29px;
    display: inline-block;
    @media (max-width:768px) {
        display: block;
    }
}

.social__text--contacts {
    padding-top: 50px;
}
.social__list--contacts {
    @media (max-width:768px) {
        justify-content: center;
    }
}
.social__item {
}
.social__link {
}
.social__img {
}
.social__img-vk {
}
.social__img-youtube {
}